html,
body {
    width: 100%;
    max-width: 1440px; /*1440px*/
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-weight: 400;
    position: relative;
    background-color: hsl(0, 100%, 74%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0; 
}
.overlay .desktop-img {
    width: 100%;
    height: 100%;
}
.overlay .mobile-img {
    width: 100%;
    height: 100%;
    display: none;
}

.container {
    width: 80%;
    height: 85%;
    margin: auto;
    position: absolute;
    display: flex;
    z-index: 100;
}
.box {
    width: 50%;
    height: 85vh;
    padding: 20px 30px;
}
.left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left-box h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
}
.left-box p {
    margin-top: 20px;
    color: #fff;
}
.right-box-header {
    width: 100%;
    height: 60px;
    border: 1px solid hsl(248, 32%, 49%);
    border-radius: 5%;
    background-color: hsl(248, 32%, 49%);
    z-index: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-box div p {
    color: #fff;
}
form {
    width: 100%;
    margin-top: 25px;
    padding: 38px 40px;
    border: 1px solid #fff;
    border-radius: 2%;
    background-color: #fff;
}
.form-control {
    margin-bottom: 35px;
    position: relative;
}

.form-control input {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    font-weight: 600;
    border: .5px solid hsl(246, 25%, 77%);
    border-radius: 5%;
    box-shadow: .5px .25px hsl(246, 25%, 77%) ;
}
.form-control.error input {
    border-color: hsl(0, 100%, 74%);
    box-shadow: .5px .25px hsl(0, 100%, 74%);
}
.form-control img {
    position: absolute;
    top: 7px;
    right: 20px;
    visibility: hidden;
}
.form-control.error img {
    visibility: visible;
}
.form-control small {
    font-size: 10px;
    font-style: italic;
    font-weight: 500;
    color: hsl(0, 100%, 74%);
    position: absolute;
    top: 45px;
    right: 0;
    visibility: hidden;
}
.form-control.error small {
    visibility: visible;
}
form button {
    width: 100%;
    padding: 15px;
    font-weight: 600;
    color: #fff;
    border: 1px solid hsl(154, 59%, 51%);
    border-bottom: 3px solid hsl(154, 59%, 45%);
    background-color: hsl(154, 59%, 51%);
    border-radius: 5%;
    cursor: pointer;
}
form button:hover {
    opacity: .8;
}
form p {
    font-size: 10px;
    margin: auto;
    margin-top: 10px;
    color: hsl(246, 25%, 77%);
    text-align: center;
}
form p a {
    text-decoration: none;
    font-weight: 700;
    color: hsl(0, 100%, 74%);
}

/*Media query*/
@media screen and (max-width: 500px) {
    html,
    body {
        min-height: 100vh;
    }
    .container {
        width: 90%;
        height: 100%;
        margin: 30px 0;
        flex-direction: column;
    }
    .box {
        width: 100%;
        text-align: center;
        padding: 5px;
    }
    .overlay .desktop-img {
        display: none;
    }
    .overlay .mobile-img {
        display: inline-block;
    }
}